extends ./layouts/default.pug

block title
 title 电影预告片

block content
 include ./includes/header.pug
 div.card-columns(style="width:1200px;margin:20px auto 0px auto;")
  div.card(style="width:369px;")
   img(class='card-img-top' src="http://p2.wmpic.me/article/2015/04/03/1428051598_RjBxfCua.jpeg" data-video="http://vt1.doubanio.com/201802280006/05d923cd5f7b0c6330c7a0158e081e3a/view/movie/M/302250681.mp4")
   div.card-body
    div.card-title Card title
    div.card-text Some quick example text to build on the card title and make up the bulk of the card's content.
    div.card-text 一天前更新
  div.card(style="width:369px;")
   img(class='card-img-top' src="https://d2dcan0armyq93.cloudfront.net/photo/odai/400/1ae989d2be9d12450c6660828381c3b2_400.jpg" data-video="http://vt1.doubanio.com/201802280006/05d923cd5f7b0c6330c7a0158e081e3a/view/movie/M/302250681.mp4")
   div.card-body
    div.card-title Card title
    div.card-text Some quick example text to build on the card title and make up the bulk of the card's content.
    div.card-text 一天前更新
  div.card(style="width:369px;")
   img(class='card-img-top' src="https://i0download.pchome.net/t_960x600/g1/M00/10/0D/ooYBAFWRGK2IZgjJAA6ZnTtL7ZoAACkTQI8KCIADpm1000.jpg" data-video="http://vt1.doubanio.com/201802280006/05d923cd5f7b0c6330c7a0158e081e3a/view/movie/M/302250681.mp4")
   div.card-body
    div.card-title Card title
    div.card-text Some quick example text to build on the card title and make up the bulk of the card's content.
    div.card-text 一天前更新
  div.card(style="width:369px;")
   img(class='card-img-top' src="http://78.media.tumblr.com/d5750e391d6cb38494e47db59f620d82/tumblr_nqeqvekRhT1qla6e4o1_1280.jpg" data-video="http://vt1.doubanio.com/201802280006/05d923cd5f7b0c6330c7a0158e081e3a/view/movie/M/302250681.mp4")
   div.card-body
    div.card-title Card title
    div.card-text Some quick example text to build on the card title and make up the bulk of the card's content.
    div.card-text 一天前更新
  div.card(style="width:369px;")
   img(class='card-img-top' src="http://img.faloo.com/NovelNode/0x0/1/1083/1083341.gif" data-video="http://vt1.doubanio.com/201802280006/05d923cd5f7b0c6330c7a0158e081e3a/view/movie/M/302250681.mp4")
   div.card-body
    div.card-title Card title
    div.card-text Some quick example text to build on the card title and make up the bulk of the card's content.
    div.card-text 一天前更新
  div.card(style="width:369px;")
   img(class='card-img-top' src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQAhqDzhtJHjlQFmdegNxnVhR83zeFLQlTTZJbsU9fmvTDgTHsE" data-video="http://vt1.doubanio.com/201802280011/c6e7388bb11643ed4caffa920c3a6541/view/movie/M/302160731.mp4")
   div.card-body
    div.card-title Card title
    div.card-text Some quick example text to build on the card title and make up the bulk of the card's content.
    div.card-text 一天前更新
  div.card(style="width:369px;")
   img(class='card-img-top' src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRDDgwjtblj3NVUlROx0CEp1od8VCW2npjwn1Z-eunFVJmy144P" data-video="http://vt1.doubanio.com/201802280011/c6e7388bb11643ed4caffa920c3a6541/view/movie/M/302160731.mp4")
   div.card-body
    div.card-title Card title
    div.card-text Some quick example text to build on the card title and make up the bulk of the card's content.
    div.card-text 一天前更新
  div.card(style="width:369px;")
   img(class='card-img-top' src="https://gss0.baidu.com/9vo3dSag_xI4khGko9WTAnF6hhy/zhidao/pic/item/4afbfbedab64034fd995befba4c379310b551df6.jpg" data-video="")
   div.card-body
    div.card-title Card title
    div.card-text Some quick example text to build on the card title and make up the bulk of the card's content.
    div.card-text 一天前更新
  div.card(style="width:369px;")
   img(class='card-img-top' src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSF4Z8upScx7SSK9rIRrZmJaCBSJR37kznCoAq6X9Q8Mg8DkTFq" data-video="http://vt1.doubanio.com/201802280011/c6e7388bb11643ed4caffa920c3a6541/view/movie/M/302160731.mp4")
   div.card-body
    div.card-title Card title
    div.card-text Some quick example text to build on the card title and make up the bulk of the card's content.
    div.card-text 一天前更新
  div.card(style="width:369px;")
   img(class='card-img-top' src="https://gss0.baidu.com/7Po3dSag_xI4khGko9WTAnF6hhy/zhidao/wh%3D680%2C800/sign=262a4017b919ebc4c02d7e9fba16e3c4/838ba61ea8d3fd1f1e2fdd483a4e251f95ca5f99.jpg" data-video="http://vt1.doubanio.com/201802280011/c6e7388bb11643ed4caffa920c3a6541/view/movie/M/302160731.mp4")
   div.card-body
    div.card-title Card title
    div.card-text Some quick example text to build on the card title and make up the bulk of the card's content.
    div.card-text 一天前更新
  div.card(style="width:369px;")
   img(class='card-img-top' src="http://www.vstou.com/upload/image/1176/201701/1484202151933884.jpg" data-video="http://vt1.doubanio.com/201802280011/c6e7388bb11643ed4caffa920c3a6541/view/movie/M/302160731.mp4")
   div.card-body
    div.card-title Card title
    div.card-text Some quick example text to build on the card title and make up the bulk of the card's content.
    div.card-text 一天前更新


 button(type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter") asdasdas  

 div(class="modal fade",id="exampleModalCenter",tabindex="-1",role="dialog",aria-labelledby="exampleModalCenterTitle",aria-hidden="true")
  div(class="modal-dialog modal-dialog-centered" role="document")
   div.modal-content
    div.modal-header
     h5 sadasdas
     button(type="button" class="close" data-dismiss="modal" aria-label="Close")
      span(aria-hidden="true") &times;
    div.modal-body#videoBody
    div.modal-footer
    button(type="button",class="btn btn-secondary",data-dismiss="modal") 关闭

 include ./includes/script.pug
  script.
   var player = null;
    $(function(){
        $(document).on('click','.card-img-top',function(){
          var img  = $(this)
          var url = img.data('video')
          var pic = img.attr('src')
          $('#exampleModalCenter').modal('show')
          if (!player){
            player = new DPlayer({
              container:document.getElementById('videoBody'),
              screen:true,
              video:{
                url:url,
                pic:pic,
                thumbnails:pic
              }
            })
          }else {
            player.switchVideo({
              url :url,
              pic:pic,
              thumbnails:pic
            })
          }
        })
    })